<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITLE</title>

    <link rel="shortcut icon" href="../Images/Stuff/web-logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../header-footer.css">
    <link rel="stylesheet" href="style.css">

    <!-- local plugin -->

    <link rel="stylesheet" href="../plugin/fontawesome-free-5.15.1-web/css/all.min.css">

</head>
<body>
    
    <!-- Header Start -->

    <header>

        <a href="#" class="logo">
            <img src="../Images/Stuff/logo-horizontal.png" alt="">
        </a>

        <div class="menuToggle" onclick="menu()"></div>

        <ul class="navigation">

            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#featured">Cars</a></li>
            <li><a href="#topTier">Showroom</a></li>
            <li><a href="Account/account.html">Account</a></li>

        </ul>

    </header>

    <!-- Header End -->

    <!--Footer-->

    <footer>
        
        <div class="footer_main">

            <div class="tag">
                <img src="../Images/Stuff/logo.png">
                <p>
                    Stay connected with DiamondCutMotors for exclusive offers, the lacommunity updates on luxury cars, insider news, and personalized services tailored to your needs.
                </p>

            </div>

            <div class="tag">
                <h1>Navigation</h1>
                <ul>
                    <a href="#home"><i class="fas fa-home"></i>Home</a>
                    <a href="#about"><i class="far fa-address-card"></i>About</a>
                    <a href="#featured"><i class="fas fa-book-open"></i>Cars</a>
                    <a href="#topTier"><i class="far fa-newspaper"></i>Showroom</a>
                    <a href="Account/account.html"><i class="far fa-user-circle"></i>Account</a>
                </ul>
            </div>

            <div class="tag">
                <h1>Contact</h1>
                <a href="#"><i class="fas fa-phone"></i>+62 123-4567-999</a>
                <a href="#"><i class="fas fa-phone"></i>+62 123-4567-999</a>
                <a href="#"><i class="far fa-envelope"></i>dcm@gmail.com</a>
            </div>

            <div class="tag">
                <h1>Follow Us</h1>
                <div class="social_link">
                    <a href="#" ><i class="fab fa-facebook-f social-icon"></i>&nbsp;&nbsp;Facebook</a>
                    <a href="#" ><i class="fab fa-instagram social-icon"></i> Instagram</a>
                    <a href="#" ><i class="fab fa-twitter social-icon"></i>Twitter</a>
                    <a href="#" ><i class="fab fa-linkedin-in social-icon"></i> Linkedin</a>
                </div>
            </div>

            <div class="tag">
                <h1>Subscribe</h1>
                <div class="search_bar">
                    <input type="text" placeholder="email@gmail.com">
                    <button type="submit" id="subscribe">Subscribe</button>
                </div>                
            </div>    
            
        </div>

        <p class="end">
            <a href="../About/about.html">&copy; 2024 DiamondCutMotors</a>
        </p>        

    </footer>

	<a href="#" id="backToTop">
        <i class="fas fa-arrow-up"></i>
	</a>

    <script src="../header-footer.js"></script>
    <script src="script.js"></script>

</body>
</html>