/* HOME SECTION START */

#home {
    background-image: url(../Images/Cars/darkCar.avif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding:0 1rem;
    position: relative;
    overflow: hidden !important;
}

#home .content {
	justify-content: center;
	align-items: center;
	text-align: center;
}

#home .content h2 {
	color:var(--white);
    font-size: 5.5rem;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    letter-spacing: 10px;
}

#home .content h2 span {
	color: var(--orange);
}

#home .content h3 {
	color:var(--white);
    font-size: 2rem;
	margin-bottom: 12px;
    /* text-shadow: 0 .3rem .5rem rgba(0,0,0,.3); */
}

#home .content p {
	font-size: 1.15em;
    color: var(--white);
}
#home .content p a {
	text-decoration: none;
	font-style: italic;
	color: var(--yellow);
}

/* Facility Section Start */

#facility {
	background-color: var(--primary-black);
	transition: 500ms;
	margin: 0;
	padding: 35px 10px;
	color: var(--white);
}

.center {
    display: flex;
	align-items: center;
	justify-content: space-around;
}

#facility .services_box{
    width: 95%;
    margin: 0 auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

#facility .services_box .services_card{
    text-align: center;
    width: 510px;
    height: 330px;
    box-shadow: 0 0 4.5px var(--orange);
	border: 1px solid var(--orange);
    padding: 15px 10px;
	margin: 40px 15px 0 15px;
    align-items: center;
    justify-content: center;
}

#facility .services_box .services_card i{
    color: var(--orange);
    font-size: 45px;
    margin: 15px 0 15px 0;
    cursor: pointer;
}

#facility .services_box .services_card h3{
    font-size: 3rem;
    margin-bottom: 10px;
}

#facility .services_box .services_card ol li {
    font-size: 1.28rem;
}

/* Facility Section End */

/* History Title Start */

.center2 {
    background-color: var(--primary-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

#history-title h2 {
    text-align: center;
	color:var(--white);
    font-size: 2em;
    font-weight: 300;
}

#history-title h2 span {
	color: var(--orange);
    font-weight: 700;
    font-size: 1.75em;
}

#history-title p {
	color:var(--white);
    font-size: 16px;
	margin-bottom: 12px;
    text-align: center;
}

/* History Title End */

.row {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.row .col50 {
	position: relative;
	width: 48%;
}

.row #customer2 {
	display: none;
}
#quote {
	text-align: right;
	font-size: 15.5px;
}
.row .col50 .imgBx {
	position: relative;
	width: 100%;
	min-height: 475px;
}
.row .col50 .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* Section */

section {
    padding: 25px 100px;
}

#about {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	background-color: var(--primary-black);
	transition: 500ms;
    /* padding: 25px 75px 25px 75px; */
}

#about .row .col50 .titleText span{
	color: var(--orange);
}

#about .row .col50 p {
	text-align: justify;
	color: var(--white);
}

#community {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	background-color: var(--primary-black);
	transition: 500ms;
    /* padding: 25px 75px 25px 75px; */
}

#community .row .col50 p {
	text-align: justify;
}

#community .row .col50 .titleText span {
	color: var(--orange);
}


/*Responsive Design*/


@media (max-width: 1080px) {

	.row #customer2 {
		display: inline-block;
	}

	.row #customer1 {
		display: none;
	}

	header,
	header.sticky {
		padding: 10px 20px;
	}
	header .navigation {
		display: none;
	}
	header .navigation li {
		margin-left: 0;
	}
	header .navigation li a {
		text-decoration: none;
		font-weight: 300;
		font-size: 1.6em;
		color:#eee;
	}
	.btn {
		padding: 12px 25px;
		letter-spacing: 4px;
		font-size: 17px;
	}
	header .navigation.active {
		height: calc(100% - 78px);
		width: 100%;
		position: fixed;
		top: 78px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: var(--black);
	}
	.menuToggle {
		position: relative;
		height: 40px;
		width: 40px;
		background: url("../Images/Stuff/menu.png");
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	.menuToggle.active {
		background: url("../Images/Stuff/close.png");
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	section {
		padding: 25px;
	}
	header.sticky .navigation li a {
		border:none;
		transition-duration: 275ms;
	}
	
	header.sticky .navigation li a:hover {
		border:none;
	}
	#home .content h2 {
		font-size: 3.5em;
	}
	#home .content p {
		font-size: 1em;
	}
	.container .box {
		height: 380px;
	}
	.row {
		flex-direction: column;
	}
	.row .col50 {
		width: 100%;
		position: relative;
	}
	.row .col50 .imgBx {
		height: 300px;
		margin-top: 20px;
	}

	.title {
		text-align: center;
	}

	.titleText {
		font-size: 1.8em;
		line-height: 1.5em;
		margin-bottom: 15px;
		font-weight: 300;
	}

	footer .footer_main {
		justify-content: center;
		align-items: center;
		flex-direction: row;
		display: flex;
	}

	footer .footer_main .tag {
		justify-content: center;
		margin: 0 17.5px;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	footer .end {
		margin-top: 35px;
		padding-bottom: 25px;
	}

	#backToTop {
		top: 87%;
		left: 93%;
	}

}

@media (max-width: 768px) {

	#backToTop {
		top: 87%;
		left: 87%;
	}

    #facility .services_box .services_card i{
        color: var(--orange);
        font-size: 40px;
    }

}

@media (max-width: 568px) {

    .row .col50 .imgBx {
        position: relative;
        width: 100%;
        min-height: 75px;
    }

	#backToTop {
		top: 87%;
		left: 87%;
	}

    #facility .services_box .services_card i{
        color: var(--orange);
        font-size: 40px;
    }
    
    #facility .services_box .services_card h3{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    #facility .services_box .services_card ol li {
        font-size: 0.95rem;
    }

}

/*Responsive Design*/